header, body, footer{
  max-width: 600px;
  margin: 25px auto;
  background-color: #2F3131;
}

header {
  font-family: 'Roboto Slab', 'Open Sans', sans-serif;
  font-size: large;
  font-weight: bolder;
  background-color: #7A7D7D;
  padding: 10%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

header img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow:1px 2px 2px 1px black;
}

p {
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

h2 {
  font-family: 'Roboto Slab', 'Open Sans', sans-serif;
  font-size: medium;
  font-weight: bold;
  margin-bottom: 0px;
}

footer {
  display: block;
  background-color: #7A7D7D;
  padding: 10%;
  align-items: center;
  text-align: center;
}

footer a:link {
  color: black;
}

footer a:hover {
  font-weight: 500;
  color: #fff;
}

footer a:visited {
  text-decoration: none;
  color: #D0CFCF;
}

.dropbtn {
  background-color: #D0CFCF;
  color: black;
  font-size: medium;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.dropbtn .arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropdown {
  position: relative;
  display: inline-block;
  font-size: medium;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  padding: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #D0CFCF;
  min-width: 120px;
  width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #D0CFCF;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #D0CFCF; color: black;}

.dropdown:hover .arrow {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

#main-body {
  padding-left: 20px;
  color: #D0CFCF;
}

#copyright {
  font-size: medium;
  color: black;
}

#date-modified{
  font-weight: bold;
  font-size: small;
  margin: -10px 0 20px 0;
  color: black;
}