header, body, footer{
  max-width: 800px;
  margin: 0 auto;
}

header {
  font-family: 'Roboto Slab', 'Open Sans', sans-serif;
  font-size: large;
  font-weight: bolder;
  background-color: darkcyan;
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

header img {
  width: auto;
  height: 300px;
  border-radius: 5px;
  box-shadow:1px 2px 2px 1px black;
}

p {
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

h2 {
  font-family: 'Roboto Slab', 'Open Sans', sans-serif;
  font-size: medium;
  font-weight: bold;
  margin-bottom: 0px;
}

li {
  font-size: medium;
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

li a:link {
  color: #004242;
  text-decoration: none;
}

li a:hover {
  text-shadow: 2px 1px 5px lightgray;
  text-decoration: none;
}

li a:visited {
  color: #004242;
}

footer {
  display: block;
  background-color: darkcyan;
  padding: 10px;
  align-items: center;
  text-align: center;
}

footer a:link {
  color: black;
}

footer a:hover {
  font-weight: 500;
  text-shadow: 5px 2px 5px gray;
}

footer a:visited {
  color: black;
}

#main-body {
  padding-left: 20px;
  color: dimgrey;
}

#copyright {
  font-size: medium;
  color: black;
}

#date-modified{
  font-weight: bold;
  font-size: small;
  margin: -10px 0 20px 0;
  color: black;
}