h1 h2{
  font-family: 'Roboto Slab', 'Open Sans', sans-serif;
  font-weight: bold;
  padding-left: 30px;
  color: white;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: larger;
  margin-bottom: 0px;
}

p {
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

header img {
  float: right;
  width: 200px;
  height: auto;
  box-shadow:1px 2px 2px 1px black;
  margin-right: 10px;
  margin-top: 5px;
}

header, body, footer{
  max-width: 800px;
  margin: 0 auto;
}

header {
  background-color: darkcyan;
  padding: 10px;
  text-align: start;
  border-radius: 5px;
}

li {
  font-size: large;
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

footer {
  background-color: darkcyan;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  text-align: center;
}

#main-body {
  padding-left: 20px;
  color: dimgrey;
}

#copyright {
  font-size: medium;
  color: black;
}

#date-modified{
  font-weight: bold;
  color: black;
}