v/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Small/Phone View ***************/
header {
	margin-top: 10px;
    display: block;
    text-align: center;
    font-family: 'Slabo 27px', 'Open Sans', sans-serif;
}

.headings h1 {
	margin: 0;
}

img {
	width: 80px;
	height: auto;
}

body {
    width: auto;
    background-color: #ffffff;
}

main {
	max-width: 100%;
}

.page-title {
	text-align: center;
	text-shadow: 1px 1px 1px gray;
}

p,
ul {
    font-size: 1rem;
    font-family: 'Imprima', serif;
}

.body-sections {
	border: 2px dotted black;
	margin: 0 auto;
	margin-bottom: 10px;
	background-color: lightgray;
	padding: 10px 20px 0 10px;
	text-align: center;
}

footer {
	display: block;
	position: relative;
    margin-top: 5px;
	margin: 0 auto;
	max-width: 760px;
    background-color: darkslategray;
    font-family: 'Nunito', 'Open Sans', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: white;
}

footer a{
    color: gold;
}

nav {
	margin: 0 auto;
	max-width: 760px;
	background-color: darkslategray;
    font-family: 'Nunito', 'Open Sans', sans-serif;
}
.navigation {
	list-style: none; 
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: white;
	font-weight: 700;
	transition: 0.5s;
}
.navigation a:hover {
	color: gold;
}

.responsive li {
	display: block;
}

#active {
    text-decoration: overline;
}

#heads-up {
	display: none;
	font-size: 1.2em;
    margin: 0 auto;
	text-align: center;
    padding: 3px;
	background-color: orange;
}

.forecast {
    display: none;
}

#banner {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.cur-weather p {
	font-size: 1rem;
	font-family: 'Imprima', serif;
	margin: 0 auto;
	margin-left: 10px;
}

.cur-weather h2 {
	font-size: 1.5rem;
	font-family: 'Slabo 27px', 'Open Sans', sans-serif;
	font-weight: bold;
	margin: 0 auto;
	margin-left: 10px;
}

.cur-weather hr {
	margin-left: 10px;
	width: 10rem;
}

.cur-weather {
	padding-bottom: 10px;
}

.social-icons {
	width: 30px;
}

.location {
	display: none;
}

.contact {
	margin-top: -3rem;
	line-height: 1.5rem;
}

#article-image {
	margin: 20px 0 20px 0;
	width: 100%;
	height: auto;
	border-radius: 10px;
}

/* Medium+ views */
@media only screen and (min-width: 32.5em) {
	header,
    nav,
    main,
    footer {
        border-radius: 5px;
    }

    header {
        display: flex;
        align-items: center;
		justify-content: left;
        padding: 0;
		margin-top: 10px;
    }

	.headings {
		display: flex;
		flex-direction: column;
	}

	.m {
		letter-spacing: 1pt;
		color: darkslategray;
		margin-left: 20px;
	}

    h1 {
        padding-left: 20px;
        font-size: 2.2rem;
        margin-left: 10%;
    }

	.page-title {
		text-align: left;
	}

	body {
		max-width: 100%;
		margin: 0 auto;
		background-color: #ffffff;
	}

    img {
        width: 100px;
        height: auto;
    }

	footer {
        font-size: 1.2rem;
    }

    p,
    ul {
        font-size: 1rem;
    }

    #fonts-image {
        width: 400px;
        height: auto;
    }

	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}

	.forecast {
        display: block;
        text-align: center;
		white-space: nowrap;
		padding-bottom: 10px;
		margin-left: auto;
		margin-right: auto;
		width: 350px;
	}

	.fiveDay table, th, td {
        border: 1px solid darkslategray;
        border-collapse: collapse;
        padding: 1em;
	}

	.cur-weather p {
		font-size: 1rem;
		margin: 0 auto;
		text-align: justify;
	}

	.cur-weather {
		position: absolute;
		top: 250px;
		left: auto;
		margin-left: 20px;
		background: darkslategray;
		color: white;
		padding: 1.5rem;
		box-shadow: 0 0 10px black;
		opacity: .8;
		border-radius: 10px;
	}

	#banner {
		border-radius: 10px;
		margin-bottom: 10px;
	}

	.contact{
		margin-top: auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
	}

	.location {
		display: block;
		width: 100%;
		grid-column: 1;
		grid-row: 1;
	}

	.contact-info {
		margin: auto;
		grid-column: 2;
		grid-row: 1;
	}

	#article-image {
		margin: 20px 0 20px 0;
		width: 100%;
		height: auto;
		border-radius: 10px;
		flex-basis: 70%;
		order: 2;
	}

	#article-body {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: justify;
	}

	#article-text {
		width: 90%;
		padding-right: 20px;
	}
}

/* Desktop views */
@media only screen and (min-width: 60em) {

    header,
    nav,
    main,
    footer {
        max-width: 1000px;
        margin: 0 auto;
    }

	header {
		margin-top: 10px;
	}

    h1 {
        font-size: 3rem;
		margin: 0;
    }

	h2 {
        font-size: 1.8rem;
		margin: 0;
    }

	.page-title {
		padding-bottom: 20px;
	}

	.body-sections {
		max-width: 1000px;
	}

    nav ul li a {
        font-size: 1.2rem;
    }

    footer {
        font-size: 1.2rem;
    }

    p,
    ul {
        font-size: 1.2rem;
    }

    #fonts-image {
        width: 400px;
        height: auto;
    }

	.cur-weather {
		top: 270px;
	}
}