:root {
    --background-color: #f5f5f5;
    --secondary-color: #fff;

    --text-color: #fff;

    --link-color-standard: #da0800; 
    --link-color-hover: #8b4141;
}

body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    margin: 0;
    min-height: 100vh;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    font-family: Open Sans, sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1.25em;
    text-align: center;
    width: 100%;
    height: 80px;
    margin-top: 0;;
    box-shadow: 0 0 2px #8888;
}

h2 {
    font-family: Open Sans, sans-serif;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0;
}

p {
    font-family: Open Sans, sans-serif;
    text-align: center;
    font-size: 1.25em;
}

footer {
    text-align: center;
    width: 100%;
}

.content {
    flex: 1;
}

#instructions {
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
    font-family: Open Sans, sans-serif;
    text-align: center;
    width: 640px;
    margin: 0 auto;
    background: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#rotateButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    background-color: var(--link-color-standard);
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.25em;
    padding: 0 48px;
    text-align: center;
    text-decoration: none;
    gap: 1em;
    line-height: 48px;
    height: 48px;
    width: 256px;
    box-shadow: 0 0 2px #8888;
    margin: auto;
    transition: background-color 0.3s ease;
}

#rotateButton:hover {
    background-color: var(--link-color-hover);
    cursor: pointer;
}

#last-updated {
    font-weight: bold;
}

.lists-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.list-section {
    width: 320px;
    background: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.processor-list {
    list-style-type: decimal;
    padding-left: 20px;
    text-align: left;
}

.permanent {
    color: forestgreen;
    font-weight: bold;
    margin-left: 6px;
}

@media (max-width: 576px) {
    h1{
        font-size: 1.75em;
        line-height: 1em;
        height: auto;
        padding: 10px;
    }

    .content {
        width: 100%;
    }

    #rotateButton {
        font-size: 1em;
        line-height: 36px;
        height: 36px;
        width: 100vw;
        border-radius: 0;
    }
} 