:root {
    --background-color: #f5f5f5;
    --secondary-color: #fff;

    --text-color: #fff;

    --link-color-standard: #da0800; 
    --link-color-hover: #8b4141;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    margin: 0;
    min-height: 100vh;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    font-family: Open Sans, sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.25em;
    text-align: center;
    width: 100%;
    height: 80px;
    margin-top: 0;
    box-shadow: 0 0 2px #8888;
}

p {
    font-family: Open Sans, sans-serif;
}

footer {
    text-align: center;
    width: 100%;
}

#instructions {
    background-color: var(--secondary-color);
    font-family: Open Sans, sans-serif;
    font-size: 1.25em;
    line-height: 1.25em;
    text-align: center;
    box-shadow: 0 0 2px #8888;
    margin: 40px;
    width: auto;
    padding: 20px;
    border-radius: 8px;
}

svg {
    height: 36px;
}

.button-container {
    display: grid;
    place-items: center;
}

.link-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    background-color: var(--link-color-standard);
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.25em;
    padding: 0 48px;
    text-align: center;
    text-decoration: none;
    gap: 1em;
    line-height: 48px;
    height: 48px;
}

.link-button:hover {
    background-color: var(--link-color-hover);
    cursor: pointer;
}

.content {
    flex: 1;
}

#last-updated {
    font-weight: bold;
}

.lists-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.list-section {
    width: 320px;
    background: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.processor-list {
    list-style-type: decimal;
    padding-left: 20px;
    text-align: left;
}

.permanent {
    color: forestgreen;
    font-weight: bold;
    margin-left: 6px;
}


@media (max-width: 576px) {
    .link-button {
        width: auto;
        height: 60px;
        font-size: 1.5em;
    }

    #instructions {
        width: auto;
        margin: 40px 0;
        border-radius: 0;
    }

    
} 

@media (min-width: 1400px) {
    #instructions {
        margin: 40px 20%;
    }
}