@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

:root {
    --background-color: #fff;
    --main-color: #1463ad;
    --secondary-color: #000;
    --accent1-color: #e0c59c;
    --accent2-color: #20b2aa;

    --heading-font: 'Merienda', Arial, Helvetica, sans-serif;
    --body-font: 'EB Garamond', Verdana, Tahoma, sans-serif;
}

body {
    width: 100%;
    min-width: 360px;
    background: --;
}

    h1,h2,h3 {
        font-family: var(--heading-font);
        color: var(--secondary-color);
    }

    header {
        display: block;
        text-align: center;
    }

        nav {
            margin: 0 auto;
            background-color: var(--main-color);
            font-family: 'Nunito', 'Open Sans', sans-serif;
        }

            .navigation {
                font-family: var(--heading-font);
                font-weight: bold;
                padding: 0;
            }

            .navigation li:first-child {
                display: block;
            }

            .navigation li {
                display: none;
            }

            .navigation a {
                display: block;
                padding: .75rem;
                text-align: left;
                text-decoration: none;
                color: var(--background-color);
            }

            .navigation a:hover {
                color: var(--main-color);
                background: var(--background-color);
            }

            .responsive li {
                display: block;
            }

            #active {
                color: var(--accent1-color);
            }

    main {
        max-width: 100%;
        text-align: center;
    }

        main img {
            width: 100%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }

        p {
            font-family: var(--body-font);
            font-size: 1.25rem;
            padding: 0 .75rem 0;
            color: var(--secondary-color);
        }

        #forecast {
            display: table;
            text-align: center;
            margin-bottom: 20px;
            margin-right: auto;
            margin-left: auto;
        }
    
        #forecast div {
            font-size: 1rem;
            font-family: 'Imprima', serif;
            border: 2px solid var(--secondary-color);
            white-space: nowrap;
            padding: 20px;
        }

        .row {display: table-row;}

        .cell {display: table-cell;}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #000;
        --secondary-color: #fff;
    }

    body {
        background: var(--background-color);
    }
}