@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

:root {
    --background-color: #fff;
    --main-color: #1463ad;
    --secondary-color: #000;
    --accent1-color: #e0c59c;
    --accent2-color: #20b2aa;

    --heading-font: 'Merienda', Arial, Helvetica, sans-serif;
    --body-font: 'EB Garamond', Verdana, Tahoma, sans-serif;
}

html {
    box-sizing: border-box;
}

body {
    width: 100%;
    min-width: 360px;
    background: var(--background-color);
}

    h1,h2,h3 {
        font-family: var(--heading-font);
        color: var(--secondary-color);
    }

    header {
        display: block;
        text-align: center;
    }

        nav {
            margin: 18px auto;
            background-color: var(--main-color);
            font-family: var(--heading-font);
            padding: .5rem 0 .5rem;
            text-align: center;
        }

            nav ul, li {
                list-style-type: none;
                text-align: center;
                margin: 0;
                padding: .5rem 0 .25rem;
            }

            nav ul li a {
                text-decoration: none;
                color: var(--background-color);
                transition: .5s;
                transition-duration: .5s;
            }

            nav a:hover {
                font-size: 1.5rem;
            }

            nav button {
                background: var(--main-color);
                color: var(--background-color);
                border: none;
            }

            nav ul.navigation {
                display: none;
            }

            #active {
                color: var(--accent1-color);
            }

    main {
        max-width: 100%;
        text-align: center;
    }

        .forecast {
            display: table;
            text-align: center;
            margin-bottom: 18px;
            margin-right: auto;
            margin-left: auto;
            width: 100%;
        }

        .forecast img {
            width: 50px;
        }

        main img {
            width: 100%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }

        p {
            font-family: var(--body-font);
            font-size: 1.25rem;
            padding: 0 .75rem 0;
            color: var(--secondary-color);
        }

        div {
            display: block;
        }

        .row {display: table-row;}

        .cell {display: table-cell;}

    .rental-info {
        font-family: var(--body-font);
        font-size: 1.125rem;
        text-align: center;
    }

    .rental-info table {
        margin-left: auto;
        margin-right: auto;
    }

    .gallery {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        max-width: 100%;
    }

        .gallery-image {
            margin-top: auto;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        .gallery-image img {
            width: 100%;
            max-width: 400px;
        }

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #000;
        --secondary-color: #fff;
    }

    body {
        background: var(--background-color);
    }
}